/* import fonts */
/* @font-face {
    font-family: 'Arquitecta Book';
    src: url('fonts/arquitecta-book.ttf');
}

@font-face {
    font-family: 'Arquitecta Black';
    src: url('fonts/arquitecta-black.ttf');
} */

@font-face {
	font-family: 'Arquitecta Book';
	src: url('fonts/arquitecta-book.eot'); /* IE9 Compat Modes */
	src: url('fonts/arquitecta-book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('fonts/arquitecta-book.woff') format('woff'), /* Modern Browsers */
	     url('fonts/arquitecta-book.ttf')  format('truetype'); /* Safari, Android, iOS */
	}

  @font-face {
  	font-family: 'Arquitecta Black';
  	src: url('fonts/arquitecta-black.eot'); /* IE9 Compat Modes */
  	src: url('fonts/arquitecta-black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  	     url('fonts/arquitecta-black.woff') format('woff'), /* Modern Browsers */
  	     url('fonts/arquitecta-black.ttf')  format('truetype'); /* Safari, Android, iOS */
  	}

/* general styles */

body {
  font-family: 'Arquitecta Book';
  color: #0f102b;
}

h1, h2, h3, h4, h5 {
  font-family: 'Arquitecta Black';
}

input, p {
  font-family: 'Arquitecta Book';
}

img {
  /* image-rendering: auto; */
  /* image-rendering: -moz-crisp-edges; */
  /* image-rendering: -webkit-optimize-contrast; */
  /* image-rendering:-moz-crisp-edges;          /* Firefox        */
  /* image-rendering:-o-crisp-edges;            /* Opera          */
  /* image-rendering:-webkit-optimize-contrast; /* Safari         */
  /* image-rendering: optimize-contrast;         /* CSS3 Proposed  */
  /* image-rendering:crisp-edges;
  image-rendering: optimizeQuality; */
  -ms-interpolation-mode: bicubic;
}


.navy {
  color: #0f102b;
}

.contact-button {
  color: #f04238;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  font-family: 'Arquitecta Black';
  text-transform: uppercase;
  font-size: 20px;
  padding: 15px 25px 13px 25px;
  transition: 0.2s;
  line-height: 100%;
  transition: 0.2s;
}

.contact-button i {
  font-size: 18px;
}

.contact-button:hover .fa-chevron-right {
  padding-left: 6px;
  transition: 0.2s;
}

.red {
  color: #f04238;
}

#gotoTop {
  background: #f04238;
  border-color: #f04238;
}

#gotoTop:hover {
  background: #addab8;
  border-color: #addab8;
}

/* *************** */
/* homepage styles */
/* *************** */

/* navigation styles */
#logo {
  height: 100px;
}

a, #primary-menu ul li.current > a {
  color: #f04238;
}

.nav-logo-mobile {
  display: none !important;
}

.nav-logo-desktop {
  display: none !important;
}

.nav-logo {
  display: none !important;
  height: 50px !important;
  margin-top: 20px;
}

@media (min-width: 993px) {
  .nav-logo-desktop {
    display: block !important;
  }
  .nav-logo {
    display: block !important;
    height: 50px !important;
    margin-top: 15px;
    z-index: 10000;
  }

}

@media (max-width: 992px) {
  .nav-logo-mobile {
    display: block !important;
  }
  .nav-logo-mobile img {
    display: block;
    width: 150px;
    margin: -75px auto 0 auto;
    padding-bottom: 15px;
  }
}

.sticky-logo-container {
  display: none !important;
}

#primary-menu ul li > a {
  font-family: 'Arquitecta Black';
  transition: 0.2s;
}

#primary-menu ul li a:hover div, .sub-menu a:hover, #top-search-trigger-didntwork:hover i:before {
  color: #f04238 !important;
  transition: 0.2s;
}

.navbar-tagline {
  float: left;
  font-family: 'Arquitecta Black';
  text-transform: uppercase;
}

.navbar-tagline h5 {
  line-height: 100px;
  letter-spacing: 1px;
  /* color: #fff; */
}

.sticky-header #logo {
  display: none;
}

.sticky-header .nav-logo {
  display: none !important
}

.sticky-header .sticky-logo-container {
  display: inline !important;
  float: left;
  line-height: 60px;
  padding-right: 30px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.sticky-header .sticky-logo-container .sticky-nav-logo {
    height: 30px;
}

.sticky-header .navbar-tagline h5 {
  line-height: 60px;
  margin-left: 15px;
  color: #0f102b;
}

#header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a {
  color: #0f102b;
}


.dark #primary-menu:not(.not-dark) ul ul,
 .dark #primary-menu:not(.not-dark) ul li .mega-menu-content,
  #primary-menu.dark ul ul,
   #primary-menu.dark ul li .mega-menu-content {
     background-color: #0f102b;
     border-color: #0f102b;
     color: #fff !important;
     border-top-color: #f04238;
   }

.dark #primary-menu:not(.not-dark) ul ul li > a,
 #primary-menu.dark ul ul li > a {
   color: #fff !important;
   letter-spacing: 1px;
   transition: 0.2s;
 }

 .dark #primary-menu:not(.not-dark) ul ul li > a:hover,
  #primary-menu.dark ul ul li > a:hover {
    color: #addab8 !important;
    transition: 0.2s;
  }

@media (max-width: 991px) {
  .navbar-tagline {
    display: none;
  }
  #primary-menu a,
  #primary-menu a:visited {
    color: #0f102b !important;
  }
}

@media (max-width: 991px) {
  #header.dark.transparent-header,
  #header.dark.semi-transparent {
    background-color: #fff;
    color: #0f102b !important;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  #header.dark.transparent-header i,
  #header.dark.semi-transparent i {
    color: #0f102b !important;
  }
}




/* search bar styles */
#btn_Search {
  background: #f04238;
  border: 1px solid #f04238;
  transition: 0.2s;
}

#btn_Search:hover {
  background: #57c5cb;
  border: 1px solid #57c5cb;
  transition: 0.2s;
}

.bolt-button {
  height: 25px;
  text-align: center;
}

/* hero styles */

.icon-angle-down {
  font-size: 50px;
  margin-top: -15px;
}

.pulse {
  animation: pulse 1s infinite;
}

@-webkit-keyframes pulse {
  0% {
    margin-top: -15px;
  }
  50% {
    margin-top: -10px;
  }
  100% {
    margin-top: -15px;
  }
}
@keyframes pulse {
  0% {
    margin-top: -15px;
  }
  50% {
    margin-top: -10px;
  }
  100% {
    margin-top: -15px;
  }
}




.slider-caption.slider-caption-center {
  top: 260px !important;
}

.slider-caption.slider-caption-center p {
  margin-top: -5px;
}

.slider-caption.slider-caption-bottom {
  top: 260px !important;
}

.hero-logo {
  height: 4.5rem;
  margin-top: -2.5rem;
}

.dark .slider-caption, .dark .slider-caption h2 {
  font-family: 'Arquitecta Black';
  font-size: 4.5rem;
  color: #fff;
}

@media (max-height: 780px) {
  .slider-caption-top {
    top: 160px;
  }
  .slider-caption.slider-caption-center {
    top: 230px !important;
  }
  .slider-caption.slider-caption-bottom {
    top: 240px !important;
  }
  .slider-caption.slider-caption-bottom .col_one_third {
    margin-top: -40px;
  }
  .slider-caption.slider-caption-bottom .col_one_third .counter {
    margin-top: -40px;
  }
}


@media (min-height: 950px) {
  .slider-caption-top {
    top: 200px;
  }
  .slider-caption.slider-caption-center {
    top: 300px !important;
  }
  .slider-caption.slider-caption-bottom {
    top: 320px !important;
  }
  #slider i {
    font-size: 35px;
  }
}

@media (min-height: 1050px) {
  .slider-caption-top {
    top: 300px;
  }
  .slider-caption.slider-caption-center {
    top: 400px !important;
  }
  .slider-caption.slider-caption-bottom {
    top: 420px !important;
  }
  #slider i {
    font-size: 35px;
  }
}

@media (min-height: 1250px) {
  .slider-caption-top {
    top: 400px;
  }
  .slider-caption.slider-caption-center {
    top: 500px !important;
  }
  .slider-caption.slider-caption-bottom {
    top: 520px !important;
  }
  #slider i {
    font-size: 40px;
  }
}

@media (min-height: 1450px) {
  .slider-caption-top {
    top: 450px;
  }
  .slider-caption.slider-caption-center {
    top: 550px !important;
  }
  .slider-caption.slider-caption-bottom {
    top: 670px !important;
  }
  #slider i {
    font-size: 40px;
  }
}


@media (max-width: 767px) and (min-width: 576px) {
  .swiper_wrapper:not(.force-full-screen),
  .swiper_wrapper:not(.force-full-screen):not(.canvas-slider-grid) .swiper-slide {
    height: 500px !important;
  }
  #slide-video {
    width: auto;
    height: 600px;
  }
  #slider h2 {
    font-size: 40px;
  }
  #slider h2 .hero-logo {
    height: 45px;
    margin-top: -1.5rem
  }
  #slider .btn-group {
    min-width: 400px;
  }
}

@media (max-width: 575px) {
  .swiper_wrapper:not(.force-full-screen),
  .swiper_wrapper:not(.force-full-screen):not(.canvas-slider-grid)
  .swiper-slide {
    height: 390px !important;
  }
  #slide-video {
    width: auto;
    height: 600px;
  }
  #slider h2 {
    font-size: 40px;
  }
  #slider h2 .hero-logo {
    height: 45px;
    margin-top: -1.5rem
  }
  #slider .btn-group {
    min-width: 400px;
  }
}

@media (max-width: 488px) {
  .swiper_wrapper:not(.force-full-screen),
  .swiper_wrapper:not(.force-full-screen):not(.canvas-slider-grid)
  .swiper-slide {
    height: 390px !important;
  }
  #slide-video {
    width: auto;
    height: 600px;
  }
  #slider h2 {
    font-size: 25px;
  }
  #slider h2 .hero-logo {
    height: 30px;
    margin-top: -1rem
  }
  #slider .btn-group {
    min-width: 300px;
  }
  #slider .btn-group input {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .swiper_wrapper:not(.force-full-screen),
  .swiper_wrapper:not(.force-full-screen):not(.canvas-slider-grid)
  .swiper-slide {
    height: 390px !important;
  }
  #slide-video {
    width: auto;
    height: 600px;
  }
  #slider h2 {
    font-size: 20px;
  }
  #slider h2 .hero-logo {
    height: 25px;
    margin-top: -0.5rem
  }
  #slider .btn-group {
    min-width: 290px;
  }
  #slider .btn-group input {
    font-size: 14px;
  }
  #slider .container.clearfix {
    padding: 0 !important;
  }
}



/* page styles */
#headingblock {
  font-family: 'Arquitecta Black';
}

.feature-box h3 {
  font-family: 'Arquitecta Black';
}

.contact-link {
  font-family: 'Arquitecta Book';
  background-color: #f04238 !important;
}

.real-time {
  margin-top: 80px;
}

.icons-container .icon-line2-arrow-up:before,
.icons-container .icon-line2-equalizer:before,
.icons-container .icon-tv:before {
  color: #f04238;
}

.button-container {
  width: 200px;
  margin: 40px auto 20px auto;
  text-align: center;
}

.search-for-more-button {
  background: #0f102b;
  border: 1px solid #0f102b;
  padding: 15px 20px 12px 20px;
  border-radius: 4px;
  color: #fff;
  font: 'Arquitecta Black';
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.2s;
}

.search-for-more-button:hover {
  background: #f04238;
  border: 1px solid #f04238;
  color: #fff;
  transition: 0.2s;
}




/* footer styles */
#footer {
  background: #0f102b !important;
}

.about-us-wrapper .footer-stick {
  padding-bottom: 120px;
}

#footer .btn-success {
  background: #fff;
  border: 1px solid #fff;
  color: #0f102b;
  font-weight: bold;
  /* display: block;
  width: 95px;
  height: 40px;
  margin: 0 auto; */
}

#footer h4.less-margins {
  margin-bottom: 10px;
  margin-top: -5px;
}

.footer-logo {
  height: 60px;
}

#footer a:hover {
  color: #addab8;
  transition: 0.2s;
}

#footer a.btn-success:hover {
  background: #addab8;
  color: #0f102b;
  transition: 0.2s;
}


@media (max-width: 767px) {
   #footer .col_one_fourth {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px !important;
  }
  .mobile-footer-container-1 {
    float: left;
  }
  .mobile-footer-container-2 {
    float: right;
  }
}

@media (max-width: 400px) {
  #footer .col_one_fourth {
    width: 180px;
    margin: 40px auto 0 auto !important;
  }
  #footer .last-column {
    margin-top: 0 !important;
  }
  .mobile-footer-container-1 {
    float: none;
  }
  .mobile-footer-container-2 {
    float: none;
  }
}



/* vertically align client items */
.owl-stage {
  padding-top: 100px;
}

.owl-item {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}







/* *************** */
/* about us styles */
/* *************** */

/* .about-us-wrapper #primary-menu ul li > a,
.about-us-wrapper .navbar-tagline h5 {
  color: #fff;
} */

.about-us-wrapper .sticky-header .navbar-tagline h5 {
  color: #0f102b;
}


.nine-container {
  margin-top: 80px;
}

.fancy-title h4 {
  color: #0f102b;
}

.feature-box.fbox-plain.fbox-small h3,
.feature-box.fbox-plain.fbox-small p {
  color: #0f102b;
}

.heading-block h1,
.heading-block h2,
.heading-block h3,
.heading-block h4,
.emphasis-title h1,
.emphasis-title h2 {
  color: #0f102b;
}

.heading-block > span:not(.before-heading) {
  color: #0f102b;
}

.heading-block:after {
  border-top: 2px solid #0f102b;
}

h1 > span:not(.nocolor):not(.badge),
h2 > span:not(.nocolor):not(.badge),
h3 > span:not(.nocolor):not(.badge),
h4 > span:not(.nocolor):not(.badge),
h5 > span:not(.nocolor):not(.badge),
h6 > span:not(.nocolor):not(.badge) {
  color: #f04238;
}

.fancy-title.title-bottom-border h1,
.fancy-title.title-bottom-border h2,
.fancy-title.title-bottom-border h3,
.fancy-title.title-bottom-border h4,
.fancy-title.title-bottom-border h5,
.fancy-title.title-bottom-border h6 {
  border-bottom: 2px solid #f04238;
}

.about-us-wrapper .nine-content-container {
  background: #f9f9f9;
  margin: 0 !important;
  width: 100vw !important;
  padding: 80px 0;
}

.about-us-wrapper .footer-stick {
  margin-top: 0;
  background: #fff;
}

.about-us-wrapper .column-container {
  background: #f9f9f9;
  padding-top: 80px;
}

.about-us-wrapper .services-section {
  background: #fff;
}

.about-us-wrapper .content-wrap {
  padding: 0;
}

.about-us-logo {
  height: 45px;
  margin-top: -25px;
}

.about-us-wrapper #page-title h3 {
  font-family: 'Arquitecta Black';
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 15px;
  /* font-weight: bold; */
}

.about-us-wrapper #page-title p {
  font-size: 20px;
  line-height: 2;
  margin-top: -20px;
}

.about-tagline {
  text-align: center;
  color: #0f102b;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.about-hero-text {
  color: #f0f2f3;
}

.about-header-text li a {
  color: #fff !important;
}

.about-header-text h5 {
  color: #fff !important;
}


/* ***************** */
/* login page styles */
/* ***************** */

.login-header .navbar-tagline h5 {
  color: #0f102b;
}

.login-header #primary-menu ul li > a {
  color: #0f102b;
}

.login-page-wrapper #page-title h1,
.login-page-wrapper #page-title #lbl_PageSubTitle {
  color: #0f102b;
  text-align: center;
}

.login-page-wrapper #page-title span {
  font-family: 'Arquitecta Book';
}

.login-page-wrapper .login-button,
.login-page-wrapper .register-button {
  font-family: 'Arquitecta Black';
  text-transform: uppercase;
  letter-spacing: 1px;
}

.login-page-wrapper .login-button,
.login-page-wrapper ul.tab-nav.tab-nav2 li.ui-state-active a {
  background: #f04238;
  border: 1px solid #f04238;
  color: #fff;
}

.login-page-wrapper .register-button,
.login-page-wrapper ul.tab-nav.tab-nav2 li a {
  background: #fff;
  border: 1px solid #0f102b;
  color: #0f102b;
}

.login-page-wrapper h3 {
  color: #0f102b;
}

.login-page-wrapper .tab-content.clearfix.ui-tabs-panel.ui-corner-bottom.ui-widget-content label {
  font-family: 'Arquitecta Black';
  color: #0f102b;
}

.login-page-wrapper .fright {
  color: #f04238;
}

.login-page-wrapper .button-black {
  background: #0f102b;
  border: 1px solid #0f102b;
}


/* ******************* */
/* contact page styles */
/* ******************* */

.contact-page-wrapper {
  max-width: 100vw;
  overflow: hidden;
}

.contact-go-to-top {
  opacity: 1 !important;
}

.contact-page-wrapper .navbar-tagline h5,
.contact-page-wrapper #primary-menu li a,
.contact-page-wrapper #header i {
  color: #0f102b;
}

.contact-page-wrapper #page-title h1 {
  font-family: 'Arquitecta Black';
  color: #0f102b;
}

.contact-page-wrapper #page-title #lbl_PageSubTitle {
  font-family: 'Arquitecta Book';
  color: #f04238;
}

.contact-page-wrapper .fancy-title h3 {
  font-family: 'Arquitecta Black';
  color: #0f102b;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.contact-page-wrapper label {
  font-family: 'Arquitecta Black';
  color: #0f102b;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.contact-page-wrapper input,
.contact-page-wrapper textarea,
.contact-page-wrapper select {
  border: 2px solid #0f102b !important;
  border-radius: 5px !important;
  /* border-bottom: 3px solid #0f102b; */
  color: #0f102b !important;
  font-family: 'Arquitecta Book';
  height: 40px;
}

/* .contact-page-wrapper select {
  border: 2px solid #0f102b !important;
  color: #0f102b;
  font-family: 'Arquitecta Book';
} */

.contact-page-wrapper #ContentPlaceHolder1_btn_Send {
  background: #f04238 !important;
  border-color: #f04238 !important;
  font-family: 'Arquitecta Black';
  color: #fff !important;
}

.contact-page-wrapper p {
  color: #0f102b !important;
}

.contact-page-wrapper footer {
  padding-top: 40px;
}



/* ******************* */
/* search page styles */
/* ******************* */

.search-page-search,
.search-page-search::placeholder  {
  color: #0f102b;
}

.search-page-wrapper .button.button-rounded.side-panel-trigger {
  background: #0f102b;
  border-color: #0f102b;
  font-family: 'Arquitecta Black';
  letter-spacing: 1px;
  text-align: center;
}

.search-page-wrapper .button.button-rounded.side-panel-trigger:hover {
  background: #addab8;
  border-color: #addab8;
  color: #0f102b;
  text-align: center;
}

.search-page-wrapper .portfolio-desc h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.search-page-wrapper .side-panel-wrap .widget.clearfix h4 {
   color: #0f102b;
}

.search-page-wrapper .side-panel-wrap img {
  width: 70px;
  height: auto;
}

.search-page-wrapper .entry-title h4 a {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #0f102b !important;
}

.search-page-wrapper .entry-title h4 a:hover {
  color: #f04238 !important;
}

.search-page-wrapper #ui-id-1,
.search-page-wrapper #ui-id-2 {
  color: #0f102b;
  font-family: 'Arquitecta Black';
  text-transform: uppercase;
  letter-spacing: 1px;
}

.tabs.tabs-tb ul.tab-nav li.ui-tabs-active a {
  border-top: 3px solid #f04238;
}

.tagcloud a {
  color: #0f102b;
  border-color: #0f102b;
}

.tagcloud a:hover {
  color: #f04238 !important;
  border-color: #f04238 !important;
}

.search-page-wrapper footer {
  margin-top: 100px;
}
