/* import fonts */
@font-face {
    font-family: 'Arquitecta Book';
    src: url('fonts/arquitecta-book.ttf');
}

@font-face {
    font-family: 'Arquitecta Black';
    src: url('fonts/arquitecta-black.ttf');
}

/* general styles */
body {
  font-family: 'Arquitecta Book';
  color: #0f102b;
}

h1, h2, h3, h4, h5 {
  font-family: 'Arquitecta Black';
}

input, p {
  font-family: 'Arquitecta Book';
}

.navy {
  color: #0f102b;
}


/* *************** */
/* homepage styles */
/* *************** */

/* navigation styles */
#logo {
  height: 100px;
}

/* #primary-menu ul li > a {
  color: #fff;
} */

a, #primary-menu ul li.current > a {
  color: #f04238;
}

.nav-logo {
  height: 50px !important;
  margin-top: 20px;
}

.sticky-logo-container {
  display: none !important;
}

#primary-menu ul li > a {
  font-family: 'Arquitecta Black';
  transition: 0.2s;
}

#primary-menu ul li a:hover div, .sub-menu a:hover, #top-search-trigger-didntwork:hover i:before {
  color: #f04238 !important;
  transition: 0.2s;
}

.navbar-tagline {
  float: left;
  font-family: 'Arquitecta Black';
  text-transform: uppercase;
}

.navbar-tagline h5 {
  line-height: 100px;
  letter-spacing: 1px;
  /* color: #fff; */
}

.sticky-header #logo {
  display: none;
}

.sticky-header .nav-logo {
  display: none !important
}

.sticky-header .sticky-logo-container {
  display: inline !important;
  float: left;
  line-height: 60px;
  padding-right: 30px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.sticky-header .sticky-logo-container .sticky-nav-logo {
    height: 30px;
}

.sticky-header .navbar-tagline h5 {
  line-height: 60px;
  margin-left: 15px;
  color: #0f102b;
}

#header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a {
  color: #0f102b;
}

@media (max-width: 991px) {
  .navbar-tagline {
    display: none;
  }
}



/* search bar styles */
#btn_Search {
  background: #f04238;
  border: 1px solid #f04238;
}

.bolt-button {
  height: 25px;
  text-align: center;
}

/* hero styles */

.slider-caption.slider-caption-center {
  top: 260px !important;
}

.slider-caption.slider-caption-center p {
  margin-top: -5px;
}

.slider-caption.slider-caption-bottom {
  top: 260px !important;
}

.hero-logo {
  height: 4.5rem;
  margin-top: -2.5rem;
}

.dark .slider-caption, .dark .slider-caption h2 {
  font-family: 'Arquitecta Black';
  font-size: 4.5rem;
  color: #fff;
}

@media (max-height: 780px) {
  .slider-caption-top {
    top: 160px;
  }
  .slider-caption.slider-caption-center {
    top: 230px !important;
  }
  .slider-caption.slider-caption-bottom {
    top: 240px !important;
  }
  .slider-caption.slider-caption-bottom .col_one_third {
    margin-top: -40px;
  }
  .slider-caption.slider-caption-bottom .col_one_third .counter {
    margin-top: -40px;
  }
}

/* page styles */
#headingblock {
  font-family: 'Arquitecta Black';
}

.feature-box h3 {
  font-family: 'Arquitecta Black';
}

.contact-link {
  font-family: 'Arquitecta Book';
  background-color: #f04238 !important;
}

.real-time {
  margin-top: 80px;
}

.icons-container .icon-line2-arrow-up:before,
.icons-container .icon-line2-equalizer:before,
.icons-container .icon-tv:before {
  color: #f04238;
}

.button-container {
  width: 200px;
  margin: 40px auto 20px auto;
  text-align: center;
}

.search-for-more-button {
  background: #0f102b;
  border: 1px solid #0f102b;
  padding: 15px 20px 12px 20px;
  border-radius: 4px;
  color: #fff;
  font: 'Arquitecta Black';
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.2s;
}

.search-for-more-button:hover {
  background: #f04238;
  border: 1px solid #f04238;
  color: #fff;
  transition: 0.2s;
}

/* footer styles */
#footer {
  background: #0f102b !important;
}

#footer .btn-success {
  background: #fff;
  border: 1px solid #fff;
  color: #0f102b;
  font-weight: bold;
}

.footer-logo {
  height: 60px;
}


/* *************** */
/* about us styles */
/* *************** */

.about-us-wrapper #primary-menu ul li > a,
.about-us-wrapper .navbar-tagline h5 {
  color: #fff;
}

.about-us-wrapper .sticky-header .navbar-tagline h5 {
  color: #0f102b;
}


.nine-container {
  margin-top: 80px;
}

.fancy-title h4 {
  color: #0f102b;
}

.feature-box.fbox-plain.fbox-small h3,
.feature-box.fbox-plain.fbox-small p {
  color: #0f102b;
}

.heading-block h1,
.heading-block h2,
.heading-block h3,
.heading-block h4,
.emphasis-title h1,
.emphasis-title h2 {
  color: #0f102b;
}

.heading-block > span:not(.before-heading) {
  color: #0f102b;
}

.heading-block:after {
  border-top: 2px solid #0f102b;
}

h1 > span:not(.nocolor):not(.badge),
h2 > span:not(.nocolor):not(.badge),
h3 > span:not(.nocolor):not(.badge),
h4 > span:not(.nocolor):not(.badge),
h5 > span:not(.nocolor):not(.badge),
h6 > span:not(.nocolor):not(.badge) {
  color: #f04238;
}

.fancy-title.title-bottom-border h1,
.fancy-title.title-bottom-border h2,
.fancy-title.title-bottom-border h3,
.fancy-title.title-bottom-border h4,
.fancy-title.title-bottom-border h5,
.fancy-title.title-bottom-border h6 {
  border-bottom: 2px solid #f04238;
}


/* ***************** */
/* login page styles */
/* ***************** */

.login-header .navbar-tagline h5 {
  color: #0f102b;
}

.login-header #primary-menu ul li > a {
  color: #0f102b;
}

.login-page-wrapper #page-title h1,
.login-page-wrapper #page-title #lbl_PageSubTitle {
  color: #0f102b;
  text-align: center;
}

.login-page-wrapper #page-title span {
  font-family: 'Arquitecta Book';
}

.login-page-wrapper .login-button,
.login-page-wrapper .register-button {
  font-family: 'Arquitecta Black';
  text-transform: uppercase;
  letter-spacing: 1px;
}

.login-page-wrapper .login-button,
.login-page-wrapper ul.tab-nav.tab-nav2 li.ui-state-active a {
  background: #f04238;
  border: 1px solid #f04238;
  color: #fff;
}

.login-page-wrapper .register-button,
.login-page-wrapper ul.tab-nav.tab-nav2 li a {
  background: #fff;
  border: 1px solid #0f102b;
  color: #0f102b;
}

.login-page-wrapper h3 {
  color: #0f102b;
}

.login-page-wrapper .tab-content.clearfix.ui-tabs-panel.ui-corner-bottom.ui-widget-content label {
  font-family: 'Arquitecta Black';
  color: #0f102b;
}

.login-page-wrapper .fright {
  color: #f04238;
}

.login-page-wrapper .button-black {
  background: #0f102b;
  border: 1px solid #0f102b;
}
